.btn {

    display: flex;
    align-items: center;
    background: $black-color;
    width: 100%;
    justify-content: center;
    padding: 0.75rem 0;
    border-radius: 25px;
    font-weight: 500;

    .icon {
        margin-right: 15px;
        display: flex;
        align-items: center;
    }

    &.colored {
        background-color: $blue-color;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

}