.dropdown {

    background-color: $black-color;
    padding: 1rem;
    border-radius: 15px;
    width: 100%;

    &__header {
        display: flex;
        justify-content: space-between;

        .icon {
            display: flex;
            align-items: center;
        }

    }

    &__selected {
        padding-right: .25rem;
    }

    &__list {

        max-height: 150px;
        text-align: center;
        overflow-y: scroll;

         li {
            margin-bottom: 1rem;
        }

    }

}