.history {

    &__header {
        @include interfaceDirection(horz);
        justify-content: space-between;
    }

    &__requests {

        overflow: hidden;

        &.closed {
            height: 0;
        }

        &.open {
            height: 100%;
            margin-top: 1rem;
        }

        &__header {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }

        &__list {

            .request {
                @include interfaceDirection(vert);
                padding-top: 1rem;
                margin-bottom: 1rem;
                border-top: 2px solid darken($color: $medium-gray-color, $amount: 20%);

                &__status {
                    margin-bottom: 1rem;
                }

                &__body {

                    @include interfaceDirection(horz);

                    &__period {
                        @include interfaceDirection(horz);
                        border-right: 2px solid darken($color: $medium-gray-color, $amount: 20%);
                        padding-right: 0.5rem;
                        margin-right: 0.5rem;
                        align-items: center;
    
                        &__from {
                            margin-right: 0.5rem;
                        }
    
                    }
                
                    &__days {
                        &.below-average {
                            color: $red-color;
                        }
                    }
                }

            }
        }

    }



}