.input {
    background-color: #131313;
    padding: 1rem;
    color: #fff;
    font-size: 1.25rem;
    border: none;
    margin-bottom: 1rem;
    border-radius: 15px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}