.legenda {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__close {
        display: flex;
        justify-content: flex-end;
        
        img {
            padding: 0.5rem;
            border-radius: 50px;
            background-color: $black-color;
        }

    }

    &__header {

        .title {
            margin-bottom: 0.5rem;
        }

        .title-sub {
            margin-bottom: 0.5rem;
        }

    }

    &__body {
        &__list {

            ul {

                margin-top: 1rem;

                li {
                    margin-bottom: 0.5rem;
                }
            }

        }
    }

}