.member {

    margin-bottom: 1rem;

    &__header {
        @include interfaceDirection(horz);
        justify-content: space-between;

        &__icon.disabled {
            pointer-events: none;
            opacity: 0.2;
        }

    }

    &__body {
        overflow: hidden;
    }

    &__content__progress {

        .bar {

                background-color: $black-color;
                margin-bottom: 0.5rem;
                height: 5px;
                width: 100%;
                border-radius: 10px;
                overflow: hidden;

                &__days {

                    width: 50px;
                    height: 5px;
                    background-color: $blue-color;
                    border-radius: 10px;

                }

        }
    }

    .request {

        &__period {

            display: flex;

            &__from {
                margin-right: 1rem;
            }

        }

        &__update {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            gap: 1rem;

        }
    }

}