.notification {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;

    &__message {

        background-color: #C41E3D;

        width: 50%;
        text-align: center;
        padding: 25px;
        border-radius: 1rem;

    }
}