.request {

    position: relative;

    &__overview {

        padding-bottom: 1rem;
        

        &__progression {

            position: relative;
            width: 50%;
            margin: 0 auto;
            margin-bottom: 1rem;

            &__circle {

                .CircularProgressbar-trail {
                    stroke: unset !important;
                }

                &--remainingdays {
                   position: absolute;
                   top: 0;
                   z-index: 1;

                    .CircularProgressbar-path {
                        stroke: $blue-color !important;
                    }

                }

                &--reserveddays {
                    position: absolute;
                    top: 0;
                    .CircularProgressbar-path {
                        stroke: $light-gray-color !important;
                    }

                    
                }

                &--useddays {
                    .CircularProgressbar-path {
                        stroke: $black-color !important;
                    }
                }

            }

            &__text {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        }
    }

    &__form__date__picker {
        display: flex;
        align-items: baseline;
        margin: .75rem 0;
        gap: 10px;
    }

}