.ui-container {

    background-color: $dark-gray-color;
    padding: 1.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;    
    overflow: hidden;
    height: inherit;
    box-sizing: border-box;

} 