body {
    margin: 0;
    padding: 0;
    background-color: $black-color;
    font-family: $font-family, serif;
    color: $white-color;
    font-size: 16px;
    height: 100vh;
}

.page {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}