
/* FONT FACES */
@font-face {
    font-family: SFPRODISPLAY;
    font-weight: 500;
    src: url('../../static/Fonts/SFPRODISPLAY/SFPRODISPLAYREGULAR.OTF');
}

@font-face {
    font-family: SFPRODISPLAY;
    font-weight: bold;
    src: url('../../static/Fonts/SFPRODISPLAY/SFPRODISPLAYBOLD.OTF');
}

@font-face {
    font-family: SFPRODISPLAY;
    font-weight: 400;
    src: url('../../static/Fonts/SFPRODISPLAY/SFPRODISPLAYLIGHTITALIC.OTF');
}

/* GENERAL FONT SYLES */

.title {
    
    font-size: 1rem;

    &-big {
        font-weight: bold;
        font-size: 2rem;
    }

    &-medium {
        font-weight: bold;
        font-size: 1.25rem;
    }

    &-sub {
        color: $light-gray-color;
        font-size: 0.9rem;
        font-weight: 100;
    }

}