.login__form {
    text-align: center;

    .btn {
        margin-bottom: 1rem;
        padding: unset;
        height: 50px;
    }

    &__footer {
        display: flex;
        justify-content: center;
        overflow: hidden;

        .icon {
            margin-right: unset;
        }

    }

}