 /* Colors */
$black-color: #131313;
$white-color: #fff;
$dark-gray-color: #222;
$light-gray-color: #D0D0D0;
$medium-gray-color: #626262;
$red-color: #F36;
$blue-color: #0055F9;


/* Fonts */
$font-family: 'SFPRODISPLAY';